// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700');

// Variables
@import 'variables';

html, body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    font-weight: $font-small-weight;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 1.3rem 0rem 0rem 0rem;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // min-height: 100vh;
    .inner-container {
        margin: 0 auto;
        width: 75%;
    }
}

.text-center {
    text-align: center;
}

form.form-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    .form-control {
        margin: 0rem .6rem;
        padding: 0;
        flex: 2;
    }
}

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    text-align: center;
}
.alert-danger {
    color: #721c24;
    border-color: #f5c6cb;
    background-color: #f8d7da;;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}


@import 'ui/buttons';

@import 'ui/toolbar';
@import 'ui/jumbotron';
@import 'ui/advanced-stats';

@import 'ui/call-action';

@import 'ui/footer';


