.footer-info {
    margin: 0;
    padding: 0;
    background-color: $very-dark-violet;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: $white;

    .header {
        margin: 0;
        padding: 0rem 1.5rem;
        .logo {
            // background: url('../../images/logo.svg') left no-repeat;
            background-color: $white;
            mask: url('../../images/logo.svg') left no-repeat;
            width: 150px;
            height: 50px;
        }
    }


}
